/** 项目全局可用变量 - 样式表 */

// 左侧导航菜单的宽度
$base_menu_width: 230px;

// 左侧导航菜单折叠后的最小宽度
$base_menu_min_width: 65px;

// 顶部导航的高度
$base_tabbar_height: 60px;

// 底部高度
$base_footer_height: 40px;

// 左侧菜单的 logo 高度
$base_menu_logo_height: 40px;

// 左侧菜单的 logo 右侧文字大小
$base_menu_logo_title_fontsize: 25px;
